<%= stylesheet_link_tag "application" %>

<div class="container">

  <div class="table-responsive" >
    <table class="table table-striped">
      <thead>
        <div class="row">
          <tr>
            <th class="col-sm-4 col-md-2", style="font-size:1.5rem; text-align:center;">Name</th>
            <th class="col-md-2 hidden-xs", style="font-size:1.5rem; text-align:center;">Latitude</th>
            <th class="col-md-2 hidden-xs", style="font-size:1.5rem; text-align:center;">Longitude</th>
            <th class="col-md-3 hidden-xs", style="font-size:1.5rem; text-align:center;">Address</th>
            <th class="col-sm-2 col-md-1", style="font-size:1.5rem; text-align:center;">メニュー</th>
            <th class="col-sm-2 col-md-1", style="font-size:1.5rem; text-align:center;"></th>
          </tr>
        </div>
      </thead>

      <tbody>
        <div class="row">
        <% @favorites_places.each do |place| %>
          <tr>
            <td class="col-sm-4 col-md-2"><%= place.name %></td>
            <td class="col-md-2 hidden-xs"><%= place.latitude %></td>
            <td class="col-md-2 hidden-xs"><%= place.longitude %></td>
            <td class="col-md-3 hidden-xs"><%= place.address %></td>
            <td class="col-sm-2 col-md-1">
                <%= button_to "show", list2_albums_path, params: { place_id: place.id }, method: :get %>
            </td>
            <td class="col-sm-2 col-md-1">
                <%= button_to "解除", favorite_path(place.id), method: :delete %>
            </td>
          </tr>
        <% end %>
        </div>
      </tbody>
    </table>
  </div>
</div>
