<%= stylesheet_link_tag "application" %>

    <script>var GOOGLE_API_KEY="#{ENV['GOOGLE_API_KEY']}"</script>
    <%= javascript_include_tag src="//maps.google.com/maps/api/js?key=#{ENV['GOOGLE_API_KEY']}&libraries=places,geometry" %>

  <% if @place.errors.any? %>
    <div id="error_explanation">
      <h2><%= @place.errors.count %>件のエラーがあります。</h2>
      <ul>

      <% @place.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">

  <%= form_tag list_places_path, :role =>"form", :method => :get do %>
    <div class="form-group">
      <%= text_field_tag :search, params[:search], { :class => "form-control", :required => true, } %>
      <%= button_tag( {:type => "submit", :name => nil, :class => "btn btn-primary" }) do %>
        <span class="glyphicon glyphicon-search">検索</span>
      <% end %>
    </div>
  <% end %>
  
  </div>



  <div class="form-group">
    <%= link_to "行楽地一覧画面にもどる", places_path, :class => "btn btn-success btn-block" %>
  </div>
