<%= stylesheet_link_tag "application" %>

<div class="container">

<p>利用者：詳細ボタンで行楽地の地図へ、お気に入りボタンでお気に入りに登録<br>
    作者：編集ボタンで行楽地に写真を追加、削除ボタンで行楽地を削除</p>

<div class="table-responsive" >
  <table class="table table-striped">
    <thead>
      <div class="row">
        <tr>
          <th class="col-sm-4 col-md-1", style="font-size:1.5rem; text-align:center;">作者</th>
          <th class="col-sm-4 col-md-2", style="font-size:1.5rem; text-align:center;">Name</th>
          <th class="col-md-4 hidden-xs", style="font-size:1.5rem; text-align:center;">日程</th>
          <th class="col-md-3 hidden-xs", style="font-size:1.5rem; text-align:center;">Address</th>
          <th class="col-sm-2 col-md-1", style="font-size:1.5rem; text-align:center;">メニュー</th>
          <th class="col-sm-2 col-md-1", style="font-size:1.5rem; text-align:center;">""</th>
        </tr>
      </div>
    </thead>
    <tbody>
      <div class="row">
        <% @places.each do |place| %>
        <% @user = User.find(place.user_id) %>
          <tr>
            <td class="col-sm-4 col-md-1">
              <% if @user.image.thumb.url == nil %>
                <%= image_tag "no_image.png", :size => "50x50" %>
              <% else %>
                <%= image_tag @user.image.thumb.url %>
              <% end %>  
            </td>
            <td class="col-sm-4 col-md-2"><%= place.name %></td>
            <td class="col-md-4 hidden-xs"><%= place.start_date %>～<%= place.last_date %></td>
            <td class="col-md-3 hidden-xs"><%= place.address %></td>
            <td class="col-sm-2 col-md-1">
              <% if place.user_id == current_user.id %>
                <%= button_to "編集", new_album_path, params: { place_id: place.id }, method: :get %>
              <% else %>
                <%= button_to "詳細", list_albums_path, params: { place_id: place.id }, method: :get %>
              <% end %>
            </td>
            <td class="col-sm-2 col-md-1">
              <% if place.user_id == current_user.id %>
                <%= button_to "削除", place_path(place.id), method: :delete, data: { confirm: "#{place.name} の位置情報を削除します" } %>
              <% elsif current_user.favorites.find_by(place_id: place.id).present? %>
              <% else %>
                <%= button_to "お気に入り", favorites_path(place_id: place.id), method: :post %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </div>
    </tbody>
  </table>
</div>
</div>
