<%= stylesheet_link_tag "application" %>

    <script>var GOOGLE_API_KEY="#{ENV['GOOGLE_API_KEY']}"</script>
    <%= javascript_include_tag src="//maps.google.com/maps/api/js?key=#{ENV['GOOGLE_API_KEY']}&libraries=places,geometry" %>

<h3>行楽地は見つかったかな?</h3>

<div class="container">
<div class="col-md-12">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Address</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @places.each do |place| %>
        <tr>
          <td><%= place.name %></td>
          <td><%= place.lat %></td>
          <td><%= place.lng %></td>
          <td><%= place.formatted_address %></td>
        </tr>
      <% end %>
    </tbody>
  </table>


  <div class="map_container">
    <div id="map" class="map_canvas"></div>
  </div>

  <script type="text/javascript">
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(<%=raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      handler.getMap().setZoom(15);
      handler.map.centerOn(marker);
    });
  </script>

    <%= form_with( model: Place.new, url: places_path, local: true ) do |form| %>

      <div class="form-group">
      <% @places.each do |place| %>
        <%= form.hidden_field :name, :value => place.name %>
        <%= form.hidden_field :latitude, :value => place.lat %>
        <%= form.hidden_field :longitude, :value => place.lng %>
        <%= form.hidden_field :address, :value => place.formatted_address %>
      <% end %>
        <%= form.hidden_field :user_id, :value => current_user.id %>

      <div class="form-group">
        <%= form.label t('label.schedule') %>
        <div class="input-group form-control" >
          <%= form.date_select(
              :start_date,
              use_month_numbers: true,
              start_year: 1950,
              end_year: (Time.now.year),
              default: Date.new(2018,1,1),
              date_separator: '/') %>
          <span>- to -</span>
          <%= form.date_select(
              :last_date,
              use_month_numbers: true,
              start_year: 1950,
              end_year: (Time.now.year),
              default: Date.new(2018,1,1),
              date_separator: '/') %>
        </div>
      </div>
  
      <div class="form-group">
        <%= form.submit "行楽地を登録する", :class => "btn btn-primary" %>
      </div>
    <% end %>
  
    <button type="button" class="btn pull-right btn-lg btn-default">
      <%= link_to 'Back', places_path %>
    </button>

    </div>
  </div>
</div>
