<!DOCTYPE html>
<html>
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Takashi Endo">
    <%= favicon_link_tag('favicon.ico') %>

    <title>Scrapbooks</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
    <script src='//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js' type='text/javascript'></script>
  </head>

  <body>

    <header>
      <nav class="navbar navbar-default" >
        <div class="container-fluid">
          <div class="navbar-header" >
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#top-nav">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
              <img src="scrapbooks.jpg" id="logo-img">
            </a>
          </div>            

          <div class="collapse navbar-collapse" id="top-nav">
            <ul class="nav navbar-nav" >
              <li><a href="/places">行楽地一覧</a></li>
              <li><a href="/places/new">新規登録</a></li>
              <li><a href="/favorites">お気に入り</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
              <% if logged_in? %>
                <li><%= link_to "Sign out", session_path(current_user.id), method: :delete %></li>
              <% else %>
                <li><a href="/sessions/new" >Sign in</a></li>
              <% end %>
                <li><a href="/users/new" >Sign up</a></li>
            </ul>
          </div>
        </div>
      </nav>
    
      <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
      <script>
        $(function() {
          $('a').on('mouseenter', function() {
            $(this).css('color', 'blue');
          })
          .on('mouseleave', function(){
            $(this).css('color', 'white');
          });
        });
      </script>
    </header>

    <%= yield %>
    
    <footer>    
      <nav class="navbar navbar-default navbar-fixed-bottom" >
        <p class="author"><br>Copyright Takashi Endo</p>
      </nav>
    </footer>

  </body>
</html>